body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

h1 {
    color: rgb(43, 80, 226);
}

#resultat {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    margin-top: 20px;
    width: 100%;
    max-width: 1200px;
}

.photo-card {
    text-align: center;
    background: white;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.photo-img {
    width: 100%;
    border-radius: 10px;
}
